@import "../../styles/mixins.scss";

.project-card {
  position: relative;
  width: 100%;
  aspect-ratio: 16/10;
  overflow: hidden;
  cursor: pointer;
  &:hover .main_img {
    transform: scale(1.1);
  }
  .tags {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    div {
      transform: translateX(-110%);
      transition: all ease-in-out 0.1s;
      z-index: 5;
      display: flex;
      background-color: whitesmoke;
      border-radius: 5rem;
      width: fit-content;
      padding: 0.25rem 0.75rem;
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: var(--color-background);
        margin-left: 0.5rem;
        font-size: 1rem;
      }
      img {
        height: 30px;
        width: 30px;
        background-color: transparent;
      }
    }
  }
  &:hover .tags > div {
    transform: translateX(0);
  }

  &:hover button {
    z-index: 5;
    transform: scale(1);
  }

  button {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 0;
    z-index: -1;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    margin: 0 auto;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-background);
    background-color: var(--color-primary);
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    transform: scale(0);
    transition: all ease-in-out 0.3s;
    line-height: 20px;
  }
  img {
    aspect-ratio: 16/10;
    background-color: lightgray;
    width: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.3s;
    filter: brightness(80%);
  }
  @include mob-lg {
    .main_img {
      transform: scale(1.1);
    }
    .tags > div {
      transform: translateX(0);
    }
    button {
      z-index: 5;
      transform: scale(1);
    }
  }
}
