$color: (
  "primary": #04d9ff,
  "background": #0e1a21,
  "background2": #282828,
  "background3": #1d1d1d,
  "text": #909096,
  "error": #e50000,
);

:root {
  @each $key, $hex in $color {
    --color-#{$key}: #{$hex};
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
}
