@import "./mixins.scss";

$color: (
  "primary": #04d9ff,
  "secondary": #ff8a1a,
  "background": #0e1a21,
  "background2": #282828,
  "background3": #1d1d1d,
  "text": #909096,
  "error": #e50000,
);

:root {
  @each $key, $hex in $color {
    --color-#{$key}: #{$hex};
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #b3b3b6;
    // border-radius: 1px;
  }
  background-color: #1d1d1d;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  h1 {
    font-size: 2.5rem;
    font-weight: normal;
    @include md {
      font-size: 3rem;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: normal;
    @include md {
      font-size: 2.25rem;
    }
  }
  h3 {
    font-size: 1.4rem;
    font-weight: normal;
    @include md {
      font-size: 1.5rem;
    }
  }
  p {
    font-family: "Hind", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }
  font-weight: 500;
  margin: 0;
  color: whitesmoke;
  letter-spacing: 0.5px;
}
