@import "../../styles/mixins.scss";

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  height: 100%;
  max-width: 760px;
  @include md {
    width: max-content;
  }
  .modal {
    margin: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background3);
    overflow-y: auto;
    width: fit-content;
    max-height: calc(100% - 4rem);
    .img-container {
      display: flex;
      justify-content: center;
      position: relative;
      img {
        height: auto;
        object-fit: contain;
        width: 100%;
        margin-bottom: 1rem;
      }
    }
    a {
      border: 1px solid var(--color-primary);
      background-color: transparent;
      margin-left: 2rem;
      cursor: pointer;
      color: var(--color-primary);
      font-size: 16px;
      letter-spacing: 2px;
      text-decoration: none;
      position: relative;
      width: 100%;
      max-width: 220px;
      display: block;
      text-align: center;
      padding: 1rem 1.5rem;
      &:hover {
        transition: all ease-in-out 0.1s;
        background-color: var(--color-primary);
        color: black;
      }
    }
    .text-container {
      padding: 0 2rem 2rem 2rem;
      letter-spacing: 0.5px;
      line-height: 1.9em;
    }
  }
  .btn-close {
    position: absolute;
    top: 1rem;
    right: 0;
    color: whitesmoke;
    border: none;
    padding: 0;
    line-height: 0;
    text-align: center;
    cursor: pointer;
    z-index: 20;
    transition: all ease-in-out 0.2s;
    &:hover {
      opacity: 0.9;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
