@import "../../styles/mixins.scss";

.main-container {
  background-color: var(--color-background3);
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @include xl {
    gap: 6rem;
  }

  .projects {
    width: 100%;
    max-width: 1412px;
    padding-bottom: 2rem;
    h1 {
      font-size: 2rem;
      // text-align: center;
      margin-bottom: 2rem;
      color: #c3c3c3;
    }

    .projects-list {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
      // @include md {
        justify-content: flex-start;
      // }
      align-items: center;
      // justify-content: center;
      gap: 1rem;
    }
  }
}
