@import "../../styles/mixins.scss";

.main-container {
  background-color: var(--color-background3);
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @include xl {
    gap: 6rem;
  }

  .projects {
    width: 100%;
    max-width: 1440px;
    padding-bottom: 2rem;

    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      grid-gap: 1.5rem;
    }
  }
}
