@import "../../styles/mixins.scss";

nav {
  height: 100vh;
  top: 0;
  left: 0;
  position: sticky;
  margin: 0;
  padding: 0;
  z-index: 2;
  a {
    text-decoration: none;
  }
  .mobile-nav {
    @include lg {
      visibility: hidden;
    }
    .hamburger-container {
      button {
        position: fixed;
        top: 26.8px;
        right: 16px;
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 3px;
        color: white;
        background-color: var(--color-background2);
        border: none;
        @include md {
          top: 36px;
          right: 32px;
        }
      }
    }
  }
  .side-nav {
    z-index: 10;
    height: 100%;
    display: flex;
    background-color: var(--color-background);
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    width: 260px;
    transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    transform: translate(-260px, 0);
    @include lg {
      transform: translate(0);
      width: 160px;
      position: relative;
    }
    &.toggled {
      transform: translate(0);
    }
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      div {
        box-sizing: border-box;
        padding: 3rem 3rem 0 3rem;
        @include lg {
          padding: 1rem 1rem 0 1rem;
        }
        width: 100%;
        a {
          display: block;
          color: var(--color-primary);
          img {
            width: 100%;
            aspect-ratio: 103/117;
          }
        }
      }
      span {
        margin: 1rem 0;
        color: var(--color-text);
        text-align: center;
        font-size: 14px;
      }
    }
    a {
      cursor: pointer;
    }
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        color: var(--color-text);
        text-align: center;
        line-height: 3rem;
        border-bottom: 2px solid var(--color-background2);
        transition: all cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;
        width: 50%;
        margin: 0 auto;
        @include lg {
          width: 60%;
        }
        &:hover {
          color: var(--color-primary);
        }
        &.selected {
          transition-duration: 500ms;
          border-bottom: 2px solid var(--color-primary);
          color: var(--color-primary);
          width: 60%;
          letter-spacing: 1px;
          @include lg {
            width: 80%;
          }
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      a {
        padding: 0.5rem;
        color: var(--color-text);
        &:hover {
          transition: all cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.3s;
          color: var(--color-primary);
        }
      }
    }
  }
}
